@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

i, li, a, button {
    color: #363435;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #363435;
}

ul {
    list-style-type: none;
}

.top-bar {
    background-color: #363435;
}

.pages-badge {
    position: absolute;
    bottom: 13px;
    left: 47px;
    font-size: 9px;
    line-height: 12px;
    border-radius: 4px 4px 4px 0;
    padding: 0 3px;
    font-weight: 400;
    color: white;
}

.navbar-bottom {
    border-top: 1.5px;
    border-bottom: 1.5px;
    border-left: 0;
    border-right: 0;
    border-color: black;
    border-style: solid;
}

.btn {
    padding: 12px 0;
    width: 120px;
    font-size: small;
    border-radius: 10px;
    font-weight: 500;
}

.btn-dark {
    background-color: #363435;
}

/* Responsive Media */
/* xs screen */
@media (max-width: 540px) {
    
}

/* sm screen */
@media (min-width: 540px) {
    .overflow-auto {
        overflow: hidden !important;
    }
}

/* md screen */
@media (min-width: 720px) {
    
}

/* lg screen */
@media (min-width: 960px) {
    
}

/* xl screen */
@media (min-width: 1140px) {
    .container {
        max-width: 1200px;
    }
}